.off {
  width: 100%;
  height: 100%;
}
.main__section1 .firstItem a {
  color: #1d1d1d !important;
}
.main__section1 .secondItem {
  color: rgba(29, 29, 29, 0.75);
}
.main__section2__left h1 {
  color: #212121;
}
.main__section2__right span {
  color: rgba(33, 33, 33, 0.9);
}

.accordion-item {
  border: 1px solid #d0d0d0 !important;
  margin-right: 10px;
  width: 100%;
}
.accordion-button {
  color: #212121 !important;

  &:focus {
    box-shadow: none !important;
  }
}

.accordion-body option,
label,
form {
  color: rgba(33, 33, 33, 0.9) !important;
  cursor: pointer;
}

.accordion-body form .priceInpOne,
.priceInpTwo {
  width: 90px;
  border: 1px solid #c8c8c8 !important;
}
.accordion-body form .searchPriceBtn {
  background-color: #ef544f;
}
.row .col .card {
  width: 380px;
  height: 508px;
  border: none;
  position: relative;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.row .col .card img {
  width: 218px;
  height: 243px;
  margin: 0 auto;
}

.card-text {
  color: #000 !important;
}
.card-price {
  color: #f75145;
}

.card-old-price {
  color: rgba(54, 54, 54, 0.75);
}
.addToCardBtn {
  color: #212121;
  width: 90%;
}

.topText {
  top: 16px;
  left: 16px;
  position: absolute;
  color: #fff;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background-color: #df4244;
}

.favoriteBtn {
  width: 22px;
  height: 22px;
  border: none;
  background-color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 22px;
}

.sizeInput {
  color: rgba(33, 33, 33, 0.75);
  width: 64px;
  height: 40px;
  border: 1px solid #c8c8c8 !important;
}

@media screen and (max-width: 1200px) {
  .containerTop .main__section2__left {
    font-size: 30px;
  }
  .mainContainer {
    flex-direction: column;
  }
  .off {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .containerTop .main__section2 {
    display: flex !important;
    flex-direction: column !important;
  }
  .containerTop .main__section2__left {
    margin: 0 auto;
  }
  .containerTop .main__section2__right {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .accordion-side *{
    font-size: 13px !important;
  }
}

@media screen and (max-width: 510px) {
  .accordion-side *{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 390px) {
  .accordion-side *{
    font-size: 7px !important;
  }
}


