.off {
  width: 30%;
  height: 100%;
}
.main__section1 .firstItem a {
  color: #1d1d1d !important;
}
.main__section1 .secondItem {
  color: rgba(29, 29, 29, 0.75);
}
.main__section2__left h1 {
  color: #212121;
}
.main__section2__right span {
  color: rgba(33, 33, 33, 0.9);
}

.accordion-item {
  border: 1px solid #d0d0d0 !important;
  margin-right: 10px;
}
.accordion-button {
  color: #212121 !important;

  &:focus {
    box-shadow: none !important;
  }
}

.accordion-body option,
label,
form {
  color: rgba(33, 33, 33, 0.9) !important;
  cursor: pointer;
}

.accordion-body form .priceInpOne,
.priceInpTwo {
  width: 90px;
  border: 1px solid #c8c8c8 !important;
}
.accordion-body form .searchPriceBtn {
  background-color: #ef544f;
}
.row .col .card {
  width: 360px;
  height: 508px;
  border: none;
}
.row .col .card img {
  width: 218px;
  height: 243px;
  margin: 0 auto;
}

.card-text {
  color: #000 !important;
}
.card-price {
  color: #f75145;
}

.card-old-price {
  color: rgba(54, 54, 54, 0.75);

}
.addToCardBtn{
    color: #212121;
    width: 90%;

}
.card{
    position: relative;
}
.topText{
    top: 16px;
    left: 16px;
    position: absolute;
  color: #FFF;
  width: 79px;
  height: 32px;
  border-radius: 8px;
background-color: #DF4244;
}

.favoriteBtn{
    width: 22px;
height: 22px;
border: none;
background-color: #FFF;
position: absolute;
top: 16px;
right: 16px;
font-size: 22px;

}