/* 
font-family: 'Palanquin'
font-family: 'Poppins'
font-family: 'Rubik'
font-family: "Montserrat";
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
.header__section1__left {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.header__section1__right ul li {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.header__section2__left .navbar-brand {
  font-family: "Palanquin";
  font-size: 40px;
  font-weight: 700;
}

.header__section2__middle form input {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.header__section2__right {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.header__section3 .container .links li a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.footer__section2__left .footer__section2__left__head {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.footer__section2__left__body .mail {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.footer__section2__left__body .phone {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}
.footer__section2__left__head {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.footer__section2__left__body .mail {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.footer__section2__left__body .phone {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}
.footer__section2__left__foot button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.footerLinks {
  font-size: "Rubik";
  font-size: 18px;
  font-weight: 500;
}
.footerList li a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.footer__section3__left .res {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.footer__section3__right i {
  font-size: 21px;
}

.main__section1 .firstItem a {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.main__section1 .secondItem {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.main__section2__left h1 {
  font-family: "Rubik";
  font-size: 40px;
  font-weight: 500;
}
.main__section2__right span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.accordion-button {
  font-family: "Rubik";
  font-size: 20px !important;
  font-weight: 500;
}
.accordion-body option,
label,
form {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.card-text {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}
.card-price {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.card-old-price {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.addToCardBtn {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}
.topText {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}
.sizeInput {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.redBox {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}
.card-title {
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 700;
}

.point {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}
.pieces {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.money {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
}

.size-title,
.color-title {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.addToCard {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}

.cashPayment {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}
.cardLink {
  margin-top: 16px;
}

.cardLinkWp {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.description,
.reviews {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}

.descriptions {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.card-body {
  width: 95%;
  margin: 0 auto;
}

.card-body .cardHead h3 {
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
}

.cardHistory p,
.cardRev p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.orderPage .orders {
  font-family: "Rubik";
  font-size: 40px;
  font-weight: 500;
}

.about__right__name {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.about__right__code {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}
.listGroup {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}
