<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Application</title>
    <link rel="stylesheet" href="../assets/style/fonts.css">
    <link rel="stylesheet" href="../assets/style/pages/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <div class="commercial-hero">
        <div class="commercial-hero-row">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h4 class="discount-amount text-danger">
                        20% off
                    </h4>
                    <h2>Handbag products</h2>
                    <p class="hero-info text-secondary">
                        It is a long established fact that a reader will be distracted by the readable content expound the actual teachings of the great explorer  
                    </p>

                    <button class="btn btn-success px-5 py-2 ">Shop now</button>
        
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <img class="w-100 py-5" src="../assets/images/handbagproducts.png" alt="">
                        
        
                </div>
            </div>
        </div>
        
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>